.flex-grid {
  display: grid;
  gap: 24px 24px;
  grid-template-columns: repeat(3, 1fr);
  margin: 12px 12px
}

@media screen and (max-width: 768px) {
  .flex-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 480px) {
  .flex-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

.item-details {
  background-color: #333333;
  color: #fff;
  padding: 20px 10px;
  text-align: left;
}

.item-details h5 {
  margin: 0 0 15px;
  font-size: 18px;
  line-height: 18px;
}

.item-details h5 span {
  color: red;
  float: right;
  padding-right: 20px;
}

.item-details p {
  overflow: hidden;
  font-size: 14px;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.item {
  text-align: center;
  min-width: 30vw;
}

.item img {
  object-fit: cover;
  width: 100%;
  height: 350px;
}
