@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
* {
    margin: 0;   
    padding: 0;
    transition: all .3s ease-in-out;
}

body {
    height: 100vh;
    background-image: url("../assets/imgs/stars.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#signup-container {
    width: 30%;
   
    background: linear-gradient(120deg, rgba(5, 15, 10, 0.8), rgb(84 142 103 / 80%), rgba(12, 45, 30, 0.8));
}
h1{
    font-family: "Pixelify Sans", sans-serif;
}

.slide-up {
    margin-top: -60px;
}

.fading {
    opacity: 0;
}
.sige_in{
    font: "Pixelify Sans", sans-serif;
}
